# Node.js CI workflow

name: Node.js CI

on: [push, pull_request, merge_group]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24"
      - name: Enable Corepack
        run: corepack enable
      - name: Install dependencies
        run: yarn install --immutable
      - name: Run lint
        run: |
          yarn run lint:js
      - name: Build
        run: |
          yarn run build
